<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="sqlserverDBConn" connectionString="Data Source=localhost;Initial Catalog=GeZiToDo;User Id=admin;Password=123456;"/>
		<add name="mysqlDBConn"
			 connectionString="Server=rm-bp1ea907160rkot73to.mysql.rds.aliyuncs.com;Database=ceshi_normal;Uid=cs01;Pwd=ceshi2022@"/>
	</connectionStrings>
	<appSettings>
		<add key="loginAccount" value=""/>
		<add key="loginStatus" value=""/>
		<add key="loginRole" value=""/>
	</appSettings>
</configuration>